{:builds {:test {:target    :browser-test
                 :test-dir  "public/test"
                 :ns-regexp "-test$"
                 :devtools  {:http-port 8021
                             :http-root "public/test"}
                 :dev       {:compiler-options {:external-config {:guardrails {}}
                                                :closure-defines {'goog.DEBUG true}}}}}
 :deps   {:aliases [:test]}}